.cproject
.deps/
.libs/
.project
.version
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/libtool.m4
build-aux/ltoptions.m4
build-aux/ltsugar.m4
build-aux/ltversion.m4
build-aux/lt~obsolete.m4
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
*.o
*.a
fpga_data.c
install-sh
*.la
*.lo
libtool
ltmain.sh
perseustest
perseustest_dyn
stamp-h1
libperseus-sdr.pc
